<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Bootstrap Required Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/candles.css">
    <title>Ciro Candles</title>
</head>

<body>
    <!-- Contains the heading, navigation and banner image -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!-- E-commerce name -->
            <a class="navbar-brand" href="./index.html">Ciro Candles</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="container d-flex flex-column flex-md-row justify-content-between" id="navbarNav">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class=" nav-item">
                        <a class="nav-link" href="./candle-category.html">Candles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./diffuser-category.html">Diffusers</a>
                    </li>
                </ul>
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
                    <button class="btn btn-outline my-2 my-sm-0" type="submit">Search</button>
                    <a class="nav-link text-dark nav-link" href="./basket.html"><img src="icons/cart.svg"
                            class="pl-lg-4 pr-2" /></a>
                </form>
            </div>
        </nav>
    </header>

    <!-- Contains the main content of the website, divided into sections -->
    <main>
        <section>
            <div class="ml-3 mt-3">
                <h1>Crystal Candle</h1>
            </div>

            <div class="card-deck mb-3">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <img src="./images/candles/candle3.webp" class="card-img-top" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Turquoise Howlite Crystal Candle</h5>
                                <p class="card-text">Turquoise Howlite Crystal Candle is a perfect blend of soothing
                                    scents and calming energy. With the gentle aroma of lavender, rosemary, vanilla bean
                                    and patchouli.</p>
                                <ul>
                                    <li>Natural soy wax</li>
                                    <li>48+hr burn time</li>
                                </ul>
                            </div>
                            <div class="card-footer">
                                <p class="card-text">
                                <h3>$47.00 AUD</h3>
                                </p>
                                <a href="#" class="btn btn-secondary">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer of the website -->
    <footer class="footer">
        <div class="text-center py-2 bg-secondary">
            <span class="text-light">Copyright &copy; 2023</span>
        </div>
    </footer>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>
