{% extends "template.html" %}
{% block content %}
        <section>
            <div class="ml-3 mt-3">
                <h1>Candles</h1>
            </div>
            <div class="row text-center text-lg-start">

                <div class="col-lg-3 col-md-4 col-6">
                    <a href="./candle_details_1.html" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="./images/candles/candle1.webp" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="./candle_details_2.html" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="./images/candles/candle2.webp" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="./candle_details_3.html" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="./images/candles/candle3.webp" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="./candle_details_4.html" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="./images/candles/candle4.webp" alt="">
                    </a>
                </div>
            </div>
        </section>
{% endblock %}
