{% extends "template.html" %}
{% block content %}
<section>
    <div class="ml-3 mt-3">
        <h1>{{ category }}</h1>
    </div>
    <div class="card-deck">

        {% for product in products %}
        <div class="card">
            <a href="{{ url_for('main.detail', id=product.id)}}" class="d-block mb-4">
                <img class="img-fluid img-thumbnail" src="{{ url_for('static', filename=product.image) }}" alt="">
            </a>
            <div class="card-body">
                <h4 class="card-title">{{product.name}}</h4>
                <p class="card-text">{{ "$%.2f"|format(product.price) }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
