{% extends 'template.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Checkout</h1>
                <p>
                    Please provide your details so that one of our awesome agents can
                    contact you to finalise details, take payment and ship your products. Thank you!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-4">
                {{wtf.quick_form(form)}}
            </div>
        </div>
    </div>
</section>
{% endblock %}
