{% extends "template.html" %}
{% block content %}
        <section>
            <div class="ml-3 mt-3">
                <h1>Bling Candle</h1>
            </div>

            <div class="card-deck mb-3">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <img src="./images/candles/candle1.webp" class="card-img-top" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Bling Candle - Pyrite Infused</h5>
                                <p class="card-text">Light up your space with the added glitz and glamour of Beautiful
                                    Bling - the perfect way to add a touch of sophistication and style to your home.</p>
                                <ul>
                                    <li>Natural soy wax</li>
                                    <li>50+hr burn time</li>
                                </ul>
                            </div>
                            <div class="card-footer">
                                <p class="card-text">
                                <h3>$39.00 AUD</h3>
                                </p>
                                <a href="#" class="btn btn-secondary">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
