{% extends "template.html" %}
{% block content %}
<section>
    <div class="ml-3 mt-3">
        <h1>{{ product.name }}</h1>
    </div>

    <div class="card-deck mb-3">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="max-width: 700px">
                    <img src="{{ url_for('static', filename=product.image) }}" class="card-img-top" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.sub_name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                    </div>
                    <div class="card-footer">
                        <p class="card-text">
                        <h3>{{ "$%.2f"|format(product.price) }}</h3>
                        </p>
                        <form action="{{ url_for('main.basket') }}">
                            <input type="hidden" id="product_id" name="product_id" value="{{ product.id }}">
                            <input class="btn btn-primary" type="submit" value="Add to Cart">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
