{% extends "template.html" %}

{% block head %}
<div class="jumbotron jumbotron-fluid card card-image" style="background-color: lightgray;">
    <div class="text-center text-white py-5 px-4">
        <div>
            <h1 class="display-2">Welcome to Ciro Candles</h1>
            <p class="display-4 text-light">Hand Made in Gold Coast</p>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<section>
    <div class="text-center">
        <p class="font-italic">Transform your space into a sanctuary of warmth and elegance with our handmade candles
            and diffusers. Our
            unique selection, crafted
            with high-quality and natural materials, adding a touch of sophistication to any home.</p>
    </div>
    <div class="ml-3 mt-3">
        <h1>Our Collection</h1>
    </div>

    <div class="card-deck mb-3">
        <div class="col">
            <div class="card" style="max-width: 700px">
                <a href="{{ url_for('main.category', name='candles')}}">
                    <img src="{{ url_for('static', filename='images/candles/candle_home.jpg') }}" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Candles</h5>
                    <p class="card-text">Explore a diverse collection of artisanal candles, including
                        scented
                        candles, unscented candles, soy candles and more.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="max-width: 700px">
                <a href="{{ url_for('main.category', name='diffusers')}}">
                    <img src="{{ url_for('static', filename='images/diffusers/diffuser_home.jpg') }}"
                        class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Diffusers</h5>
                    <p class="card-text">Handmade diffusers designed to transform your space into a haven of
                        tranquility and aromatic bliss.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
